{% extends 'bookmark/base.html' %}
{%load newfilters%}
{% block title %}{{ category_name }}{% endblock %}
{%block body_block%}
        <h1>Login to Bookmark</h1>

        <form id="login_form" method="post" action="/bookmark/login/">
            {% csrf_token %}
          <b>Username</b> <input type="text" class="form-control" name="username" value="" size="50" />
            <br />
          <b>Password</b> <input type="password" class="form-control" name="password" value="" size="50" />
            <br />

          <button class="btn btn-primary" type="submit" name="submit"> Submit </button>
        </form>
{%endblock%}

